@{
    ViewBag.Title = "Рабочая группа";
}

<div class="container ">
    <div class="page-header">
        <h3>Панель управления модерацией</h3>
    </div>
    <div id="content" class="row">
        <div class="span9">
            <h4 style="margin-bottom: 8px;">Заявки на модерацию</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="large-cell inline-header" rowspan="4">
                            <h4>Шаблонище</h4><h4><small><a href="http://habrahabr">http://habrahabr</a></small></h4><h4><small>07.04.2012</small></h4>
                            <div class="cell-content">
                                <pre class="pre-scrollable prettyprint linenums lang-js">{
    title: "Придут ли на смену статически типизированным языкам языки с динамической типизацией?",
    text: "Я был фанатом статически типизированных языков много лет. Я усвоил урок на собственном горьком опыте, используя C. Слишком много систем ломались из-за глупых ошибок типизации. Когда C++ вышел, я был заядлым приверженцем и яростным адептом строгой типизации. Я насмехался над smalltalk'ерами, кто ныл о потери гибкости. Надежность, в конце концов, была гораздо более важна, чем гибкость. И кроме того, мы могли поддерживать наше ПО гибким И статически типизированным, если просто следовать хорошим принципам управления зависимостями. Четыре года назад приобщился к XP (методология Extreme Programming). Я полюбил акцент на практичности, который она добавила к разработке ПО. Мне также понравился упор на тестирование. С тех пор я заразился идеей тестирования. Я не могу более представлять себе создания кода без использования TDD (test driven development). Не могу вообразить даже, чтобы не иметь полное покрытие тестами, чтобы мои разработки были в сохранности. Около двух лет назад я кое-что заметил. Я стал все меньше и меньше зависеть от типизации в плане надежности. Мои юнит-тесты предохраняли меня от совершения ошибок, связанных с типизацией. Чем больше я зависел от юнит-тестов, тем меньше я зависел от надежности на основе типизации в Java или C++ (мои языки)."
}</pre>
                            </div>
                        </td>
                        <td class="span3"><a href=""><i class="icon-list-alt"></i> Перейти к задаче</a></td>
                    </tr>
                    <tr>
                        <td><a href=""><i class="icon-share-alt"></i> Перейти к шаблону</a></td>
                    </tr>
                    <tr>
                        <td><a href=""><i class="icon-remove"></i> Отклонить похожие</a></td>
                    </tr>
                    <tr>
                        <td class="large-cell">
                            <a class="btn btn-large btn-success" style="display: block; margin: 0 0 8px 0;" href="">Одобрить заявку</a>
                            <a class="btn btn-danger" style="display: block; margin: 0 0 8px 0;" href="">Отклонить заявку</a>
                            <a class="btn" style="display: block; margin: 0 0 0 0;" href="">Следующая заявка</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span3" style="margin-top: 26px">
            <div class="row">
                <div class="span3">
                    <table class="table table-bordered">
                        <thead>
                            <tr><th>Рабочая группа</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>remper@me.com</td>
                            </tr><tr>
                                <td>test@test.ru</td>
                            </tr><tr>
                                <td>example@example.org</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3 input-append">
                    <a class="btn" style="margin-bottom: 9px; float: right;" href=""><i class="icon-plus"></i></a>
                    <div style="margin-right: 45px;">
                        <input style="width: 100%; color: #dddddd" id="appendedPrependedInput" size="16" type="text" value="example@example.org" />
                    </div>
                </div>
                <div class="span3">
                    <a class="btn" style="display: block; margin: 0 0 0 0;" href="">Покинуть группу</a>
                </div>
            </div>
        </div>
    </div>
</div>
