.login-info 
{
    color: White;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 8px 20px;
}

.right-bar
{
    padding: 0;
    margin: 0;
}

.right-bar li
{
    line-height: 18px;
    border-top: 1px solid #dddddd;
    list-style: none;
}

.right-bar li a 
{
    display: block;
    padding: 8px 0 8px 8px;
    line-height: 18px;
    text-decoration: none;
}

.right-bar li a:hover
{
    display: block;
    padding: 8px 0 8px 8px;
    line-height: 18px;
    text-decoration: none;
    background-color: #eeeeee;
}

.right-bar li:first-child {
    border-top: none;
}

div.large-cell-menu
{
    float: right; 
    border-left: 1px solid #dddddd;
    padding: 0;
}

table.large-cell-content tbody tr td 
{
    padding: 3px 0px 4px 0;
    font-size: 11px;
}

.inline-header h4:first-child
{
    display: inline-block;
    margin-left: 0;
}

.inline-header h4
{
    display: inline-block;
    margin-left: 30px;
}

.cell-content
{
    padding: 10px 10px 0 10px;
}