@{
    ViewBag.Title = "Шаблонизатор";
}

@Html.Partial("Header")

<div class="container">
    <div class="page-header">
        <h1>Шаблонизатор
            <small>Создание, обучение и редактирование шаблонов для кроулера</small>
        </h1>
    </div>
    <div class="row">
        <div class="span9" id="content">
            <div align="center" style="margin-top: 200px"><img src="/Content/img/loader.gif" /></div>
        </div>
        <div class="span3">
            <a class="btn btn-large btn-success" style="float: right" href="#new"><i class="icon-plus icon-white"></i> Создать новый</a>
        </div>
    </div>
</div>
