@{
    ViewBag.Title = "Шаблонизатор";
}

@Html.Partial("Header")

<div class="container">
    <div class="page-header">
        <h1>Шаблонизатор
            <small>Создание, обучение и редактирование шаблонов для кроулера</small>
        </h1>
    </div>
    <div id="content">
        <div align="center" style="margin-top: 100px"><img src="/Content/img/loader.gif" /></div>
    </div>
</div>
