@{
    ViewBag.Title = "Шаблонизатор";
}

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="#">
                Курсач
            </a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="#">Шаблонизатор</a>
                    </li>
                    <li><a href="#">Кроулер</a></li>
                    <li><a href="#">Рабочая группа</a></li>
                </ul>
                <div class="login-info pull-right">
                    Вы не зашли
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h1>Шаблонизатор
            <small>Создание, обучение и редактирование шаблонов для кроулера</small>
        </h1>
    </div>
    <div class="row">
        <div class="span12">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#new" data-toggle="tab">Новый шаблон</a></li>
                    <li><a href="#learn" data-toggle="tab">Обучить</a></li>
                    <li><a href="#edit" data-toggle="tab">Редактировать</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="new">...</div>
                    <div class="tab-pane" id="learn">...</div>
                    <div class="tab-pane" id="edit">...</div>
                </div>
            </div>
        </div>
    </div>
</div>
