@model IEnumerable<Templater.Models.Template>

@{
    Layout = null;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Вебсайт</th>
            <th>Владелец</th>
            <th style="width: 80px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (Templater.Models.Template template in Model)
{
    <tr>
        <td>@template.Id</td>
        <td>@template.Name</td>
        <td>@template.Website</td>
        <td>@template.OwnerEmail</td>
        <td>
            <div class="btn-group">
                <a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    Правка
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#edit"><i class="icon-edit"></i> Редактировать исходник</a></li>
                    <li><a href="#learn"><i class="icon-check"></i> Обучить</a></li>
                    <li><a href="#"><i class="icon-trash"></i> Удалить</a></li>
                </ul>
            </div>
        </td>
    </tr>
}
@if(!Model.Any()) {
   <tr><td colspan="5">С вами не связано никаких шаблонов</td></tr>
}

    </tbody>
</table>